body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f8fb;
  color: #333;
}
html {
  scroll-behavior: smooth;
}

.hero {
  height: 80vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-btn {
  background: #00b4d8;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
}

.hero-btn:hover {
  background: #0096c7;
}

header {
  background: #0077b6;
  color: white;
  padding: 20px;
  text-align: center;
}

.tours, .booking {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

.tour-card {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.tour-card span {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

button {
  background: #00b4d8;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0096c7;
}

form {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

#confirmation {
  margin-top: 20px;
  font-weight: bold;
  color: green;
}

footer {
  text-align: center;
  padding: 15px;
  background: #023e8a;
  color: white;
}
.tour-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tour-card {
  overflow: hidden;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #0077b6;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #00b4d8;
}

.booking h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

select {
  width: 100%;
  padding: 8px;
}

.booking button {
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
}

#bookingMessage {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: green;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 10px;
  }
}
